CompileFlags:
  Add: [
    -Ilib/miniz, -lib/expat, -Icore,
    -Wall, -Wextra, -Werror,
    -std=c++26, -fno-exceptions, -fno-rtti,
    -DMINIZ_NO_MALLOC, -DMINIZ_NO_DEFLATE_APIS, -DMINIZ_NO_STDIO, -DMINIZ_NO_TIME, -DMINIZ_NO_ARCHIVE_APIS, -DMINIZ_NO_ZLIB_APIS
  ]
  Remove: []

Diagnostics:
  ClangTidy:
    Add: [performance-*]
